body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.audioPlayer{
  margin: auto;
  width: 50%;
  
}
#audioPlayer{
  padding-left: 20%;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.message-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  background-color: #f0f0f0;
}

.gpt {
  background-color: #e0e0e0;
}

.conversation-history {
  max-height: 300px;
  overflow-y: scroll;
}



.user {
  color: #0084ff;
}

.gpt {
  color: #00a600;
}

#audioPlayer{
  align-content: center;
}