body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.audioPlayer{
  margin: auto;
  width: 50%;
  
}
#audioPlayer{
  padding-left: 20%;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.message-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


.conversation-history {
  max-height: 300px;
  overflow-y: scroll;
}

.conversation_item {
  margin-bottom: 20px;
  white-space: nowrap;
}

.conversation_link{
  display: inline-block;
}
.conversation_delete{
  display: inline-block;
  margin-left: 10px;
}


#delete_conversation_button {
  color: #000000;
  background-color: rgb(253, 66, 66);
}

#create_conversation_button {
  color: #ffffff;
  background-color: #0084ff;
}

.user {
  color: #0084ff;
}

.interlocutor {
  color: #00a600;
}

.corrector {
  
  display: none;
}

.corrector.visible {
  display: block;
  color: rgb(209, 19, 19);
}

#audioPlayer{
  align-content: center;
}

.history-container {
  width: 100%;
  max-width: 1200px;
  height: 700px; /* Set a fixed height to make the container scrollable */
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#historyList {
  list-style: none;
  padding: 0;
}

.chat-item {
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.chat-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}