<a href="/">Home</a>
<h1>List</h1>
<ul>

<% @user.conversations.each do |conversation|%>
  
    <li>
      <div class="conversation_item">
        <div class="conversation_link">
          <a href="/protected/conversation/<%= conversation.conversation_id %>"><%=conversation.name%></a> 
        </div>
        <div class="conversation_delete">
          <form action="/protected/conversation/<%= conversation.conversation_id %>/delete" method="post">
            <button id="delete_conversation_button" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </li>
<% end %>
</ul>

<form action="/protected/conversation/create" method="Post">
  <button id="create_conversation_button" type="submit">Create Conversation</button>
</form>

