<a href="/">Home</a>
<h1>List</h1>
<ul>

<% @user.conversations.each do |conversation|%>
  <li><a href="conversation/<%= conversation.conversation_id %>"><%=conversation.name%><a></li>
<% end %>
</ul>

<form action="/conversation/create" method="Post">
  <button type="submit">Create Conversation</button>
</form>

