<div class="container-wrapper">
  <div class="headline">Tandem AI</div> <!-- Add the headline above the container -->
  <div class="container">
    <div class="elements">
      <div id="micButton" class="circle">
        <img src="../images/mic.ico" alt="Mic Icon"> <!-- Replace 'mic-icon.png' with your icon's file path -->
      </div>
      <button id="sendButton" class="send-button">Send Recording</button>
      <audio id="audioPlayback" controls></audio>
    </div>
  </div>
</div>
