   <main class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="card" style="width: 40rem;">
          
            <img class="img-fluid" src="/images/robo.png" alt="">
            </div>
          </div>
          <div class="col-md-5">
            <h1 class="mt-5">Tandem AI</h1>
            <p class="mt-5">An AI-driven voice dialogue system utilizing GPT for seamless, voice-based interactions and responses.</p>
            <a type="button" href="/protected/conversation_list" class="btn btn-primary mt-5 btn-lg">Try out</a>
          </div>
        </div>
      </div>

    </main>
